<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
<listeners>

<listener class-name="Apollo_Hospital_BaseTest.Listeners"></listener>



</listeners>

  <test thread-count="5" name="WebTesting">
    <classes>
   
      <class name="Apollo_Hospital.WebTesting.refrence_Apollo_StandAlone_Testcase2"></class>
   
</classes>


  </test> <!-- Test -->
</suite> <!-- Suite -->
